/*-----------------standards----------------*/

/*-----------------colors-------------------*/
$white:white;
$purple:rgb(221, 8, 221);
$blue:rgb(76, 0, 255);
$lightGray:rgb(228, 228, 228);   
$lightBrown:rgb(158, 147, 147);
/*-----------------margins------------------*/
$space-xs-small:5px;
$space-sm:10px;
$space-sm-md:20px;
$space-md:25px;
$space-md-lg:35px;
$space-lg:50px;

/*-----------------paddings-----------------*/
$pad-xs:5px;
$pad-sm:10px;
$pad-sm-md:20px;
$pad-md:25px;
$pad-md-lg:35px;
$pad-lg:50px;
/*-----------------fonts--------------------*/
$f-fam: 'Josefin Sans', sans-serif;
$f-slim:300;
$f-reg:400;
$f-bold:600;
