.draggable__btn.dropped{
    margin-left: 0px;
    margin-top: 0px;
}
.drop{
    width: 60%;
    margin:10px auto 20px;
    position: relative;
    z-index:10;
    left: -20px;
    top:0px;
    @include breakpoint-down(small){
        justify-content: center;
        left: 0px;
      
    }
    &__text{
        @include breakpoint-down(small){
            display: none;
        }
    }
    &__place{
        position: relative;
        top:0px;
        left:0px;
        margin: 0px 10px;
        width: 200px;
        height: 100px;
        border-radius: 15px;
        border:2px solid $purple;
        @include breakpoint-down(small){
            width: 150px;
            margin:0px;
        }
        &:hover{
            filter: drop-shadow(0px 0px 8px $purple);
        }
       
    }
    &__correct,
    &__wrong{
        position: absolute;
        z-index: 11;
        top:-15px;
        right: -20px;
        width: 40px;
        height: 40px;
        @include background-cover;
    }
    &__correct{
        background-image: url('../../../../assets/code/correct.png');
    }
    &__wrong{
        background-image: url('../../../../assets/code/wrong.png');
    }
}