.header{
    position: relative;
    top:0px;
    left:0px;
    z-index:10;
    margin-bottom: $space-lg;
    &__btn-quit{
        @include btn-quit();
    }
    &__inner-wrapper{
        width:70%;
        margin:0px auto;
        @include breakpoint-down(medium){
            width: 90%;
        }
    }
    &__inner{
        margin-bottom: $space-md-lg;
        @include createFlex(row,space-between,center,null);
        @include breakpoint-down(medium){
            margin-bottom:$space-lg;
        }
    }
    &__logo{
        @include logo();
    }
    &__btn-back,
    &__btn-close{
        width:20px;
    }
    &__btn-back{
        cursor: pointer;
        margin-right: 10px;
        transition: all 300ms ease-in-out;
        opacity: 0;
        &:hover{
            opacity: 1;
            animation: back 0.7s ease-in-out infinite;
        }
    }
    &__btn-close{
        opacity: 0;
        cursor: pointer;
        transition: all 300ms ease-in-out;
        animation: fadeIn 0.5s ease-in-out 1.5s forwards;
        &:hover{
            transform:rotate(180deg);
        }
    }
    &__subtitle{
        position: relative;
        left:0px;
        top:0px;
        padding:$pad-sm;
        color:$white;
        text-align: center;
        opacity: 0;
        animation: fadeIn 1s ease-in-out 0.3s forwards;
        @include breakpoint-down(medium){
            padding:$pad-md-lg 0px;
        }
        @include breakpoint-down(small){
            padding:$pad-md 0px;
        }
        h1{
            opacity: 0;
            animation: fadeIn 1s ease-in-out 0.5s forwards;
        }
        &.technology{ 
            background-image: url('../../../../assets/technology/podcien.webp');
            @include subitle-bg;
         }
         &.culture{ 
            background-image: url('../../../../assets/culture/podcien.webp');
            @include subitle-bg;
         }
         &.automotive{ 
            background-image: url('../../../../assets/automotive/podcien.webp');
            @include subitle-bg;
         }
        &.code{ 
           background-image: url('../../../../assets/code/podcien.webp');
           @include subitle-bg;
        }
        &.history{ 
            background-image: url('../../../../assets/history/podcien.webp');
            @include subitle-bg;
         }
    }
    &__count{
        font-size: pxToRem(16);
        position: absolute;
        right:11%;
        top:-12px;
        width: 65px;
        height: 65px;
        border-radius: 30px;
        background-size: cover;
        p{
            margin-top: 2px
        }
        @include createFlex(row,center,center,null);
        .max{
            color: $purple;
        }
        @include breakpoint-up(xlarge){
            right:15%;
        }
        @include breakpoint-down(medium){
            width: 85px;
            height:85px;
            right:40px;
            top:-35px;
            font-size: pxToRem(24);
        }
        @include breakpoint-down(small){
            width: 65px;
            height:65px;
            right:30px;
            top:-50px;
            font-size: pxToRem(16);
        }
        @media (max-width:320px) {
            right:15px;
        }
        &.technology{
            background-image: url('../../../../assets/technology/question_count.webp');
        }
        &.automotive{
            background-image: url('../../../../assets/automotive/question_count.webp');
        }
        &.culture{
            background-image: url('../../../../assets/culture/question_count.webp');
        }
        &.code{
            background-image: url('../../../../assets/code/question_count.webp');
        }
        &.history{
            background-image: url('../../../../assets/history/question_count.webp');
        }
    }
}