.play{
    @include set-container;
   
    .button{
        &:hover{
            @include btn-transition(10px);
        }
       p{
           margin-left: 10px;
       }
    }
    &.technology{
        background-image: url('../../../../assets/technology/background_play_normal.jpg');
        
        @include background-cover;
        @media (max-width:1365px){
            background-size: 120%;
        }
        @media (max-width:937px){
            background-size: 150%;
        }
        @media (max-width:743px){
            background-size: 300%;
        }
        @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: landscape) {
            background-size: 200%;
        }

        @include breakpoint-down(medium){
            background-size: 270%;
            background-position: 10% 0%;
        }
        @include breakpoint-down(small){
            background-size: 370%;
            background-position: 20% 20%;
        }
        @include breakpoint-down-l(small){
            background-size: 170%;
        }
    }
    &.culture{
        background-image: url('../../../../assets/culture/background_normal_play_and_drag.jpg');
        @include background-cover;
        @media (max-width:1365px){
            background-size: 120%;
        }
        @media (max-width:937px){
            background-size: 150%;
        }
        @media (max-width:743px){
            background-size: 300%;
        }
        @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: landscape) {
            background-size: 150%;
            background-position: 100% 0%;
        }


        @include breakpoint-down(medium){
            background-size: 270%;
            background-position: 0px -100px;
        }
        @include breakpoint-down(small){
            background-size: 400%;
            background-position: 30% 0px;
        }
    }
    &.automotive{
        background-image: url('../../../../assets/automotive/background_play_normal.jpg');
        @include background-cover;
        @media (max-width:1365px){
            background-size: 120%;
        }
        @media (max-width:937px){
            background-size: 150%;
        }
        @media (max-width:743px){
            background-size: 300%;
        }
        @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: landscape) {
            background-size: 150%;
        }
    
        @include breakpoint-down(medium){
            background-size: 270%;
            background-position: 100% -100px;
        }
        @media (max-width:1024px) and (max-height:768px) and (orientation:landscape){
            background-size:150%;
        }
        @include breakpoint-down(small){
            background-size: 380%;
            background-position: 95% 0%;
        }
        @include breakpoint-down-l(medium){
            background-size: 170%;
        }
        @media (max-width:320px){
            background-size: 395%;
        }
    }
    &.code{
        background-image: url('../../../../assets/code/background_play_normal.jpg');
        @include background-cover;
        @media (max-width:1365px){
            background-size: 120%;
        }
        @media (max-width:937px){
            background-size: 150%;
        }
        @media (max-width:743px){
            background-size: 300%;
        }
        @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: landscape) {
            background-size: 150%;
            background-position: 100% 0px;
        }
    
        @include breakpoint-down(medium){
            background-size: 300%;
            background-position: 0px -100px;
        }
        @include breakpoint-down(small){
            background-size: 400%;
        }
    }
    &.history{
        @include HistoryBackground();
    }
}