.questions{
    @media (max-width:320px){
        height: 720px;
    }
    @include set-container();
    .header{
        @include breakpoint-down(small){
            margin-bottom: 20px;
        }
    }
    .question{
        @include breakpoint-down(small){
            margin-bottom: 20px;
        }
    }
    .button{
        position: relative;
        bottom:-400px;
        left:0px;
        opacity: 0;
        height: 70px;
        min-width: 210px;
        margin:0px 10px;
        transform: translateX(0);
        @include breakpoint-down(medium-sm){
            min-width: 160px;
            width:160px;
        }
        @include breakpoint-down-l(medium-sm){
            width:230px;
        }
        @include breakpoint-down(small){
            width:80%;
            margin: 0px;
        }
    }

    &__answers{
        @include btnGroup();
        @include createFlex(row,flex-start,null,wrap);
        @include breakpoint-down(small){
            justify-content:center;
        }
        @media(max-width:320px){
            width: 100%;
        }
        @include breakpoint-down-l(medium){
            width: 85%;
        }
    }
    &.technology{
        background-image: url('../../../../assets/technology/background_questions_normal.jpg');
        @include background-cover;
        @media (max-width:1365px){
            background-size: 130%;
        }
        @media (max-width:937px){
            background-size: 160%;
        }
        @media (max-width:743px){
            background-size: 310%;
        }
        @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: landscape) {
            background-size: 150%;
        }
        @include breakpoint-down(medium){
            background-size: 300%;
            background-position: 40% -100px;
        }
        @include breakpoint-down(small){
            background-size: 400%;
        }
        @media (max-width:320px){
            background-image: 310%;
            background-position: 40% 0px;
        }
    }
    &.culture{
        background-image: url('../../../../assets/culture/background_questions_normal.jpg');
        @media (max-width:1365px){
            background-size: 130%;
        }
        @media (max-width:937px){
            background-size: 160%;
        }
        @media (max-width:743px){
            background-size: 310%;
        }
        @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: landscape) {
            background-size: 150%;
        }
        @include background-cover;
        @include breakpoint-down(medium){
            background-size: 270%;
            background-position: 20% -100px;
        }
        @include breakpoint-down(small){
            background-size: 400%;
            background-position: 40% -100px;
        }
        @media (max-width:320px){
            background-position: 40% 0px;
        }
    }
    &.automotive{
        background-image: url('../../../../assets/automotive/background_questions_normal.jpg');
        @media (max-width:1365px){
            background-size: 130%;
        }
        @media (max-width:937px){
            background-size: 160%;
        }
        @media (max-width:743px){
            background-size: 310%;
        }
        @include background-cover;
        @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: landscape) {
            background-size: 300%;
        }
        
        @include breakpoint-down(medium){
            background-size: 270%;
            background-position: 0px 0px;
        }
        @include breakpoint-down(small){
            background-size: 350%;
        }
        @media (max-width:320px){
            background-size: 400%;
        }
    }
    &.code{
        background-image: url('../../../../assets/code/background_question_normal.png');        
        @include background-cover;
        @media (max-width:1365px){
            background-size: 130%;
        }
        @media (max-width:937px){
            background-size: 160%;
        }
        @media (max-width:743px){
            background-size: 310%;
        }
        @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: landscape){
            background-size: 150%;
            background-position: 50% 0%;
        }
        @include breakpoint-down(medium){
            background-size: 300%;
            background-position: 0px -100px;
        }
        @include breakpoint-down(small){
            background-size: 400%;
        }
        @media (max-width:320px){
            background-size: 500%;
        }
    }
    &.history{
        @include HistoryQuestions()
    }
}